<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emotion\emotion.cry.gif</key>
	<string>伤心</string>
	<key>emotion\emotion.smile.gif</key>
	<string>你好</string>
	<key>emotion\feedback.think.png</key>
	<string>值得思考</string>
	<key>emotion\emotion.goodbye.gif</key>
	<string>再见</string>
	<key>emotion\rose.down.png</key>
	<string>凋谢</string>
	<key>emotion\feedback.against.gif</key>
	<string>反对</string>
	<key>emotion\feedback.agreed.png</key>
	<string>赞同</string>
	<key>emotion\feedback.quickly.png</key>
	<string>太快了</string>
	<key>emotion\feedback.slowly.png</key>
	<string>太慢了</string>
	<key>emotion\emotion.angerly.gif</key>
	<string>愤怒</string>
	<key>emotion\emotion.nod.gif</key>
	<string>无聊</string>
	<key>emotion\emotion.lh.gif</key>
	<string>流汗</string>
	<key>emotion\emotion.question.gif</key>
	<string>疑问</string>
	<key>emotion\chat.gift.png</key>
	<string>礼物</string>
	<key>emotion\emotion.bs.gif</key>
	<string>鄙视</string>
	<key>emotion\emotion.laugh.gif</key>
	<string>高兴</string>
	<key>emotion\rose.up.png</key>
	<string>鲜花</string>
	<key>emotion\feedback.applaud.png</key>
	<string>鼓掌</string>
	<key>emotion\emotion.gz.gif</key>
	<string>热烈鼓掌</string>
	<key>emotion\emotion.hx.gif</key>
	<string>害羞</string>
	<key>emotion\emotion.jk.gif</key>
	<string>惊恐</string>
	<key>emotion\emotion.jy.gif</key>
	<string>惊讶</string>
	<key>emotion\emotion.kb.gif</key>
	<string>抠鼻</string>
	<key>emotion\emotion.kl.gif</key>
	<string>可怜</string>
	<key>emotion\emotion.ll.gif</key>
	<string>流泪</string>
	<key>emotion\emotion.qd.gif</key>
	<string>敲打</string>
	<key>emotion\emotion.qh.gif</key>
	<string>强悍</string>
	<key>emotion\emotion.qq.gif</key>
	<string>亲亲</string>
	<key>emotion\emotion.rb.gif</key>
	<string>弱爆</string>
	<key>emotion\emotion.se.gif</key>
	<string>色</string>
	<key>emotion\emotion.tx.gif</key>
	<string>偷笑</string>
	<key>emotion\emotion.xu.gif</key>
	<string>嘘</string>
	<key>emotion\emotion.yun.gif</key>
	<string>晕</string>
	<key>emotion\emotion.gg.gif</key>
	<string>尴尬</string>
	<key>emotion\emotion.fd.gif</key>
	<string>奋斗</string>
	<key>emotion\emotion.bz.gif</key>
	<string>闭嘴</string>
</dict>
</plist>
